<mat-card class="margin-bottom-20">
  <mat-card-header>
    <mat-card-title>Search Bar</mat-card-title>
    <mat-card-subtitle>@next-level-integration/nli-search-bar-lib</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="margin-bottom-20">
      <mat-card-subtitle>{{'Example' | translate}}</mat-card-subtitle>
      <nli-search-bar placeHolder="Search" (onSearch)="search($event)" value="Search...">
      </nli-search-bar>
    </mat-card>
    <nli-usage [usage]="usage"></nli-usage>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-content>
    <nli-setup-api [setup]="setup" [api]="api"></nli-setup-api>
  </mat-card-content>
</mat-card>
