<mat-card class="margin-bottom-20">
  <mat-card-header>
    <mat-card-title>Password</mat-card-title>
    <mat-card-subtitle>@next-level-integration/nli-input-lib</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="margin-bottom-20">
      <mat-card-subtitle>{{'Example' | translate}}</mat-card-subtitle>
      <nli-password name="password"
        [formControl]="loginForm.controls['password']"
        inputLabel="Password"
        inputClass="sample-input"
        errorMsg="This field is mandatory">
      </nli-password>

    </mat-card>
    <nli-usage [usage]="usage"></nli-usage>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-content>
    <nli-setup-api [setup]="setup" [api]="api"></nli-setup-api>
  </mat-card-content>
</mat-card>
