<div fxFlex>
  <mat-toolbar color="accent">
    <div fxHide.gt-sm fxLayoutAlign="start center">
      <button class="menu-button" mat-icon-button (click)="subnav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="title" translate>NLI Components</span>
  </mat-toolbar>
  <mat-sidenav-container fxFill>
    <mat-sidenav #subnav [mode]="over" opened="true">
      <nav>
        <mat-list>
          <span *ngFor="let item of menu">
            <button mat-button routerLink="/components/{{item.url}}" routerLinkActive="activeMenu" (click)="closeSubNav()">
              <span translate>{{item.title}}</span>
            </button>
            <mat-divider></mat-divider>
          </span>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="container">
        <router-outlet></router-outlet>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
