<div class="container">
    <mat-card class="margin-bottom-20">
      <mat-card-title>
        Visual Studio Code
      </mat-card-title>
      <mat-card-content>
    
          <p>One of the most popular editors for angular.io is microsoft`s visual studio code. ( <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a> )</p>
          <p>VSCode has excelent support for angular after installing some key extensions:</p>
          <ul>
            <li>
                <a href="https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin">TSLint</a>
            </li>
            <li>
                <a href="https://marketplace.visualstudio.com/items?itemName=Angular.ng-template">Angular Language Service</a>
            </li>
          </ul>

          <p>Also to boost productivity you can install the following extensions:</p>
          <ul>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode">Prettier</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens">GitLens</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer">Bracket Pair Colorizer</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag">Auto Rename Tag</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag">Auto Close Tag</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=steoates.autoimport">Auto Import</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=Mikael.Angular-BeastCode">Angular 8 Snippets</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=k--kato.intellij-idea-keybindings">IntelliJ IDEA Keybindings</a> ( Since many of us use intellij, nice to have the same shortcuts :) 
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=christian-kohler.npm-intellisense">npm Intellisense</a>
              </li>
              <li>
                  <a href="https://marketplace.visualstudio.com/items?itemName=Zignd.html-css-class-completion">IntelliSense for CSS class names in HTML</a>
              </li>
            </ul>
    
      </mat-card-content>
    </mat-card>
