<mat-tab-group>
    <mat-tab label="HTML" *ngIf="usage.html">
      <pre><code class="code-box" [highlight]="usage.html" language="xml"></code></pre>
    </mat-tab>
    <mat-tab label="TS" *ngIf="usage.ts">
      <pre><code class="code-box" [highlight]="usage.ts" language="typescript"></code></pre>
    </mat-tab>
    <mat-tab label="CSS" *ngIf="usage.css">
      <pre><code class="code-box" [highlight]="usage.css" language="scss"></code></pre>
    </mat-tab>
  </mat-tab-group>
