<mat-card class="margin-bottom-20">
  <mat-card-header>
    <mat-card-title>Menu</mat-card-title>
    <mat-card-subtitle>@next-level-integration/nli-menu-lib</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="margin-bottom-20">
      <mat-card-subtitle>{{'Example' | translate}}</mat-card-subtitle>

      <nli-menu  [firstLineText]="'John Doe'" [secoundLineText]="'Sample User'">
       <nli-menu-item [text]="'Hello'" (click)="say('world')"></nli-menu-item>
       <nli-menu-item [icon]="'logout'" [text]="'Logout'" (click)="say('You want to logout?')" iconPath="../assets/home/logout.svg"></nli-menu-item>
      </nli-menu>

    </mat-card>
    <nli-usage [usage]="usage"></nli-usage>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-content>
    <nli-setup-api [setup]="setup" [api]="api"></nli-setup-api>
  </mat-card-content>
</mat-card>
