<mat-card class="margin-bottom-20">
  <mat-card-header>
    <mat-card-title>Timeline</mat-card-title>
    <mat-card-subtitle>@next-level-integration/nli-timeline-lib</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="margin-bottom-20">
      <mat-card-subtitle>{{'Example' | translate}}</mat-card-subtitle>
      <div class="timeline-container">
        <nli-timeline [showDatePicker]="true" [visibleSteps]="14">
          <nli-timelineitem *ngFor="let timeLineStepModel of timelineModel.steps; let i = index" [model]="timeLineStepModel">
          </nli-timelineitem>
        </nli-timeline>
      </div>
    </mat-card>
    <nli-usage [usage]="usage"></nli-usage>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-content>
    <nli-setup-api [setup]="setup" [api]="api"></nli-setup-api>
  </mat-card-content>
</mat-card>
