<div class="container">
<mat-card class="margin-bottom-20">
  <mat-card-title>
    Aliases for imports
  </mat-card-title>
  <mat-card-content>

      <p>Creating aliases for imports is a plus Initial situation:</p>
      <pre><code class="code-box" [highlight]="importsSample" language="typescript"></code></pre>
      <p>Add the following piece of code into tsconfig.json file to make your imports short and well organized across the app:</p>
      <pre><code class="code-box" [highlight]="importsSample2" language="typescript"></code></pre>
      <p>Now the imports should be refactored into these:</p>
      <pre><code class="code-box" [highlight]="importsSample3" language="typescript"></code></pre>

  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Web Components
  </mat-card-title>
  <mat-card-content>
    <p>
      How third party components are integrated and shared components should be
      developed
    </p>
    <ul style="list-style-type: disc;">
      <li>
        Angular-Elements
        <p>Bridge between Angular Components and Custom-Elements</p>
        <p>
          Extract from deklaration in NgModule, instead adding the
          Custom-Angular-Element during execution phase to the DOM
        </p>
        <p>Interfaces to Custom-Elements with Input-Output Bindings</p>
        <p>Managing the ChangeDetection</p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
</div>