/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import "theme-variables";
$primary: map-get($nli-theme, primary);
$accent: map-get($nli-theme, accent);

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.container {
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.logo {
  display: inline-block;
  background-size: contain;
  height: 48px!important;
  width: 48px!important;
  background-image: url('assets/logo.svg');
  background-repeat: no-repeat;
}

.code-box {
  padding: 15px;
  background: #f9f9f9;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.05);
}


.margin-bottom-20 {
  margin-bottom: 20px;
}
