/*
 * Application global variables.
 */

// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

@import "~@angular/material/theming";


$my-blue: (
  50 : #008ECC,
  100 : #008ECC,
  200 : #008ECC,
  300 : #007DCC,
  400 : #007DCC,
  500 : #008DCC,
  600 : #008ECC,
  700 : #008ECC,
  800 : #008ECC,
  900 : #008ECC,
  A100 : #c6cbff,
  A200 : #939dff,
  A400 : #606eff,
  A700 : #008ECC,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);


$my-orange: (
  50 : #FF9900,
  100 : #ffe0b3,
  200 : #ffcc80,
  300 : #ffb84d,
  400 : #ffa826,
  500 : #ff9900,
  600 : #FF9900,
  700 : #FF9900,
  800 : #FF9900,
  900 : #FF9900,
  A100 : #ffffff,
  A200 : #fff7f2,
  A400 : #ffd6bf,
  A700 : #ffc6a6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-red: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$nli-primary: mat-palette($my-orange);
$nli-accent: mat-palette($my-blue);
$nli-warn: mat-palette($my-red);

// Create the theme object (a Sass map containing all of the palettes).
$nli-theme: mat-light-theme($nli-primary, $nli-accent, $nli-warn);

// Material design icons font path
$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
