<div class="container">
<mat-card class="margin-bottom-20">
  <mat-card-title>
    Angular CLI
  </mat-card-title>
  <mat-card-content>
    It is recommend using the Angular CLI tool while working with the Angular
    project. Angular CLI has its own set of commands for creating the Angular
    project, creating components, modules, services etc… The basic commands to
    generate components, services, modules, pips etc has to be used always with
    the agreed set of options. As a direct ouput all generated items comply a
    general structure and naming convention as well
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Files and Folders in the Angular Project
  </mat-card-title>
  <mat-card-content>
    <p>How to organize the folder structure in an Angular project</p>
    <ul style="list-style-type: disc;">
      <li>
        File Naming
        <p>
          Names should be consistent with the same pattern mentioning the
          file&rsquo;s feature first and then the type, dot separated.
        </p>
        <p>
          E.g home.component.ts or home.component.html or auth.service.ts
          &hellip;
        </p>
        <p>
          To add more descriptive names to files it is recommended using a
          dash(-) to separate the words in the name:
          menu-admin-user.component.ts&hellip;
        </p>
      </li>
      <li>
        Class Names
        <p>
          Class Names, should be written in upper camel case style with the
          added suffix that represents the type of our file e.g.
          DatepickerDirective, HomeComponent, DataService
        </p>
      </li>
      <li>
        Folder Structure
        <p>
          Files should reside in the folders named by the feature they
          represent. This is very important because we can easily identify the
          business logic implemented
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Angular Coding Practices
  </mat-card-title>
  <mat-card-content>
    <p>
      How to organize components in a single file and what the benefits are
      using interfaces, immutability and writing clean and small functions.
    </p>
    <ul style="list-style-type: disc;">
      <li>
        Single Responsibility Principle
        <p>
          It is very important not to create more than one component, service,
          directive&hellip; inside a single file. Every file should be
          responsible for a&nbsp;<strong>single functionality</strong>. This
          keeps files clean, readable and maintainable.
        </p>
      </li>
      <li>
        Using Interfaces
        <p>
          To create a contract for classes always
          use&nbsp;<strong>interfaces</strong>. It forces the class to implement
          functions and properties declared inside the interface.
        </p>
        <p>
          Using interfaces is a perfect way of describing object literals. If
          objects are of an interface type, it is obligated to implement all of
          the interface&rsquo;s properties. Interfaces sould&nbsp;<strong
            >not starting capital I letter</strong
          >.
        </p>
        <p>
          TypeScript will show an error if an object doesn&rsquo;t contain all
          of the interface&rsquo;s properties, and light up&nbsp;intellisense
          while populating that object:
        </p>
        <p>
          By using the question mark (<strong>?</strong>) inside an interface
          optional properties can be defined.
        </p>
      </li>
      <li>
        Using Immutability
        <p>
          Objects and arrays are the reference types in javascript, when copying
          them into another object or an array and to modify them, the best
          practice is to do that in an immutable way.
        </p>
        <p>
          By modifying reference types immutably, original objects and arrays
          are preserved and only copies are cmodifyed.
        </p>
        <p>
          The easiest way to modify objects and arrays immutably is by using the
          es6 spread operator
        </p>
      </li>
      <li>
        Small Functions and Access Modifiers
        <p>
          Keep functions to execute business logic small and clean. Small
          functions are easier to test and reuse.
        </p>
        <p>
          It is very important to distinguish the functions and properties that
          we are going to use only in our components from those that we are
          going to call from our template file. Those properties and functions,
          which we are going to reference from the template should always have
          the&nbsp;<strong>public&nbsp;</strong>access
          modifier<strong>.</strong>&nbsp;The private ones will be visible to
          the HTML template as well, but it is not a good practice due to AoT
          compilation failure.
        </p>
      </li>
      <li>
        Constructor Usage
        <p>
          Constructor method are used to setup Dependency Injection for
          services. Prevent of doing any work inside it, especially fetching the
          data from the server. For this type of actions, we have the lifecycle
          hooks in Angular.
        </p>
      </li>
      <li>
        Safe Navigation Operator (?) in HTML Template
        <p>
          It is recommended for preventing exceptions to always using the safe
          navigation operator while accessing a property from an object in a
          component&rsquo;s template.
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Module Organization and Lazy Loading
  </mat-card-title>
  <mat-card-content>
    <p>How to use lazy loading and shared modal features.</p>
    <ul style="list-style-type: disc;">
      <li>
        Multi Modules in Application
        <p>
          It is recommended splitting the application into multi-modules. The
          project structure is better organized, it is more maintainable,
          readable and reusable and we are able to use the lazy-loading feature.
        </p>
      </li>
      <li>
        Routing Module
        <p>
          The best practice for Angular application is to use a separate routing
          module for the router.
        </p>
        <p>It is registered in the app module</p>
      </li>
      <li>
        Lazy Loading
        <p>
          In multi-modular applications, implementing a lazy loading feature is
          recommended. The great advantage of a lazy loading approach is that
          resources can be loaded on demand and not all at once. This helps us
          in decreasing the startup time. Modules that we are loading in a lazy
          manner will be loaded as soon as a user navigates to their routes.
        </p>
      </li>
      <li>
        Shared module
        <p>
          Having components, directives or pipes&nbsp;in the project, which are
          to be shared through the entire project, the best way to do that is to
          register them inside the shared module file. The shared module must be
          registered inside the app module. It is important not to register
          services, that we want to use globally,&nbsp; in a shared module, they
          are registered inside its own feature module or in the app module.
        </p>
        <p>
          If it is neccessary to register a service inside a shared module, the
          best way is to provide it through the
          static&nbsp;<code>forRoot()</code>&nbsp;method that returns
          the&nbsp;<code>ModuleWithProviders</code>&nbsp;interface
        </p>
        <p>
          It is also important to export components, directives, and pipes that
          are registered in the shared module
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Components, Decorators, Directives, and Lifecycle
  </mat-card-title>
  <mat-card-content>
    <p>
      How to structure the files in components. Use of directives and lifecycle
      hooks.
    </p>
    <ul style="list-style-type: disc;">
      <li>
        Component&rsquo;s Files Separation
        <p>
          While creating components, it is very important to separate the
          component, template and styling logic into the separate files.
        </p>
      </li>
      <li>
        Reusable Components and Decorators
        <p>
          Creating reusable components! They&nbsp;can be reused inside any
          parent component and pass the data through the @Input decorator. Those
          components can emit events by using the @Output decorator and
          EventEmmiter class.
        </p>
      </li>
      <li>
        Code Simplicity in Components
        <p>
          Limit the logic in the component to satisfy the template needs.If
          additional logic is needed, extract it into a service.
        </p>
      </li>
      <li>
        Using Directives
        <p>
          Whenever multiple HTML elements have the same behavior, it is
          recommended using attribute directives.
        </p>
      </li>
      <li>
        Using Lifecycle Hooks
        <p>
          Lifecycle hooks play a very important part of Angular development.If
          we need to fetch some data from a database as soon as a component is
          instantiated, use&nbsp;<code>ngOnInit()</code>&nbsp;lifecycle hook and
          not the constructor.
        </p>
        <p>
          Providing logic inside child components and executing that logic as
          soon as decorator parameters are modified,
          use&nbsp;<code>ngOnChanges()</code>&nbsp;lifecycle hook.
        </p>
        <p>
          For clean up some resources as soon as a component is destroyed,
          use&nbsp;<code>ngOnDestroy()</code>&nbsp;lifecycle hook.
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Services
  </mat-card-title>
  <mat-card-content>
    <p>How and why using services and how to provide them.</p>
    <ul style="list-style-type: disc;">
      <li>
        Service Usage
        <p>
          Services&nbsp;provides to connect two unrelated components and extract
          code from components. Best way register services is as a singleton.
        </p>
      </li>
      <li>
        Single Responsibility
        <p>
          Services in Angular should be implemented&nbsp;with the single
          responsibility principle in mind. Service shouldn&rsquo;t be
          responsible for multiple actions or features.
        </p>
        <p>
          By creating services to concur to the single responsibility principle,
          the code&nbsp; is more readable, easier to test and to maintain.
        </p>
      </li>
      <li>
        Service Providing
        <p>
          Providing services&nbsp;at the root of the application, service are
          used as a singleton.
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    HTTP
  </mat-card-title>
  <mat-card-content>
    <p>HttpClient Module and how to use&nbsp;HTTP requests in services.</p>
    <ul style="list-style-type: disc;">
      <li>
        Using the HttpClient Module
        <p>
          Since Angular v4.3, HTTP requests should be handled with the
          HttpClient library.
        </p>
        <p>
          With the HttpClient library, error handling is much easier by using
          HttpErrorResponse class. Moreover,it can be listened to the progress
          events and we have interceptors which allows intercepting the HTTP
          requests.
        </p>
      </li>
      <li>
        Services to Work With HTTP Requests
        <p>
          When working with the HTTP requests inside components, it is
          recommended transfering the HTTP handling responsibility from the
          component to the service.
        </p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="margin-bottom-20">
  <mat-card-title>
    Web Components
  </mat-card-title>
  <mat-card-content>
    <p>
      How third party components are integrated and shared components should be
      developed
    </p>
    <ul style="list-style-type: disc;">
      <li>
        Custom-Elements
        <p>Are defined in the Web Component Standard</p>
        <p>Registered at the Browser via CustomElementRegistry</p>
      </li>
      <li>
        Angular-Elements
        <p>Bridge between Angular Components and Custom-Elements</p>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
</div>