<mat-tab-group>
  <mat-tab label="Setup">
    <div *ngFor="let step of setup">
      <p>{{ step.description }}</p>
      <pre><code class="code-box" [highlight]="step.code"></code></pre>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div *ngFor="let section of api">
      <p class="section-title">{{ section.type }}</p>
      <mat-divider></mat-divider>
      <div class="section-item" *ngFor="let item of section.items">
        <p class="item-title">{{ item.name }}</p>
        <p>{{ item.description }}</p>

        <div *ngIf="item.properties && item.properties.length > 0">
          <p class="item-subtitle">{{ "Properties" | translate }}</p>
          <mat-card class="code-box">
            <mat-card-content>
              <mat-table [dataSource]="item.properties">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> {{ "Name" | translate }} </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef> {{ "Description" | translate }} </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['name', 'description']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['name', 'description']"></mat-row>
              </mat-table>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="item.methods && item.methods.length > 0">
          <p class="item-subtitle">{{ "Methods" | translate }}</p>
          <mat-card class="code-box" *ngFor="let method of item.methods">
            <mat-card-title class="item-title">{{ method.name }}</mat-card-title>
            <mat-card-content>
              <p>{{ method.description }}</p>
              <p *ngIf="method.returns">
                {{ "Returns:" | translate }} <b>{{ method.returns }}</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
