.mat-tab-body.mat-tab-body-active {
  overflow-y: inherit !important;
 }

.section-item {
  display: block;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  display: block;
  margin: 10px 0px;
}
.item-title {
  display: inline-block;
  font-size: 24px;
  margin: 10px 0px;
}
.item-subtitle {
  display: inline-block;
  font-size: 18px;
  margin: 10px 0px;
}
