<mat-toolbar class="mat-elevation-z6 navbar" color="accent">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Showcase</span>
  </div>
  <div fxHide.lt-md>
      <mat-icon class="logo" routerLink="/" svgSrc="/assets/logo.svg"></mat-icon>
    <button mat-button routerLink="/components" routerLinkActive="active">
      <mat-icon>view_quilt</mat-icon>
      <span translate>NLI Components</span>
    </button>
    <button mat-button routerLink="/fundamentals" routerLinkActive="active">
      <mat-icon>information</mat-icon>
      <span translate>Fundamentals</span>
    </button>
    <button mat-button routerLink="/bestpractices" routerLinkActive="active">
      <mat-icon>lightbulb</mat-icon>
      <span translate>Best Practices</span>
    </button>
    <button mat-button routerLink="/editors" routerLinkActive="active">
      <mat-icon>code</mat-icon>
      <span translate>Editors</span>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
        {{language}}
      </button>
  </mat-menu>
</mat-toolbar>
