<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/components" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>NLI Components</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/fundamentals" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Fundamentals</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/bestpractices" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Best Practices</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/editors" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Editors</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <nli-header [sidenav]="sidenav"></nli-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
